<div class="container">
  <p>{{title}}</p>
  <div class="form-group">
    <label for="">Name</label>
    <input [(ngModel)]="project.name">
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <input [(ngModel)]="project.description"/>
  </div>
  <div class="form-group">
    <label for="">Label Names</label>
    <input [(ngModel)]="project.label_names"/>
  </div>
  <div class="form-group">
    <label for="">Package Type</label>
    <input [(ngModel)]="project.pakage_type" placeholder="Bronze / Silver / Gold / Diamond"/>
  </div>
  <button (click)="onAdd()">Create</button>
</div>