<h2>{{title}}</h2>
<div>
  <label>Name: </label>
  <input [(ngModel)]="project.name">
</div>
<div>
  <label>Description: </label>
  <input [(ngModel)]="project.description" />
</div>
<div>
  <label>Package: </label><br/>
  <label>
    <input type="radio" ng-model="project.package" value="free">
    Free (0.5 GB)
  </label><br/>
  <label>
    <input type="radio" ng-model="project.package" ng-value="bronze">
    Bronze (1 GB)
  </label><br/>
  <label>
    <input type="radio" ng-model="project.package" value="silver">
    Silver (3 GB)
  </label><br/>
  <label>
    <input type="radio" ng-model="project.package" value="gold">
    Gold (5 GB)
  </label><br/>
</div>
<button (click)="onAdd()"> Add </button>
