<app-navbar></app-navbar>

<div class="container">
  <div class="page-title section-margin">
    <h1 class="section-heading text-center">Create a Project</h1>
    <hr class="primary">
  </div>

  <form class="section-margin">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" [class.active]="activeTab == 1" (click)="onTabChange(1)" ><a data-toggle="tab" href="#section-1">Details</a></li>
    <li role="presentation" [class.active]="activeTab == 2" (click)="onTabChange(2)" ><a data-toggle="tab" href="#section-2">Package</a></li>
    <li role="presentation" [class.active]="activeTab == 3" (click)="onTabChange(3)"><a data-toggle="tab" href="#section-3">Dataset</a></li>
    <li role="presentation" [class.active]="activeTab == 4" (click)="onTabChange(4)"><a data-toggle="tab" href="#section-4">Annotations</a></li>
    <li role="presentation" [class.active]="activeTab == 5" (click)="onTabChange(5)"><a data-toggle="tab" href="#section-5">Tutorial</a></li>
    <li role="presentation" [class.active]="activeTab == 6" (click)="onTabChange(6)"><a data-toggle="tab" href="#section-6">Payment</a></li>
  </ul>

  <div class="tab-content border">
    <!-- Details tab -->
    <section id="section-1" class="tab-pane fade" [class.in]="activeTab == 1" [class.active]="activeTab == 1">
      <div class="row">
        <div class="col-sm-7 border-right">
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="project.name" placeholder="Name">
          </div>
          <div class="form-group">
            <textarea rows="2" class="form-control" id="description" name="description" [(ngModel)]="project.description" placeholder="Description"></textarea>
          </div>
        </div>

        <div class="col-sm-5">
          <h4 class="info-header">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>Info</span>
          </h4>
          Please write project name and brief description for the project.
        </div>
      </div>
    </section>
    <!-- End: Details tab -->

    <!-- Package tab -->
    <section id="section-2" class="tab-pane fade" [class.in]="activeTab == 2" [class.active]="activeTab == 2">
      <div id="pricing">

        <div class="price_card alpha">
          <div class="header">
            <span class="price">$500</span>
            <span class="name">Bronze Pack</span>
          </div>
          <ul class="features">
            <li>Up to 10GB of data</li>
          </ul>
          <button (click)="onPackageSelect(0)" type="submit" class="btn btn-primary pull-right">Add to cart</button>
        </div>

        <div class="price_card bravo">
          <div class="header">
            <span class="price">$1000</span>
            <span class="name">Silver Pack</span>
          </div>
          <ul class="features">
            <li>Up to 50GB of data</li>
          </ul>
          <button (click)="onPackageSelect(1)" type="submit" class="btn btn-primary pull-right" >Add to cart</button>
        </div>

        <div class="price_card charlie">
          <div class="header">
            <span class="price">$2000</span>
            <span class="name">Gold Pack</span>
          </div>
          <ul class="features">
            <li>Up to 100GB of data</li>
          </ul>
          <button (click)="onPackageSelect(2)" type="submit" class="btn btn-primary pull-right">Add to cart</button>
        </div>

      </div>
    </section>
    <!-- End: Package tab -->

    <!-- Dataset tab -->
    <section id="section-3" class="tab-pane fade" [class.in]="activeTab == 3" [class.active]="activeTab == 3">
      <div class="row">
        <div class="col-sm-7 border-right">
          <div class="form-group text-center">
            <label class="btn btn-primary upload-button">
              Choose ZIP file
              <input type="file" accept=".zip" ngFileSelect (uploadOutput)="onDatasetUploadOutput($event)" [uploadInput]="uploadInput">
            </label>
            <div class="file-name">{{datasetFileName}}</div>
          </div>
        </div>

        <div class="col-sm-5">
          <h4 class="info-header">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>Info</span>
          </h4>
          Please upload dataset for the project. Note that images should be compressed in one single zip file.
        </div>
      </div>
    </section>
    <!-- End: Dataset tab -->

    <!-- Annotations tab -->
    <section id="section-4" class="tab-pane fade" [class.in]="activeTab == 4" [class.active]="activeTab == 4">
      <div class="row">
        <div class="col-sm-7 border-right">
         <div class="form-group">
            <tag-input [(ngModel)]="items"
                       (onSelect)="onSelect($event)"
                       [modelAsStrings]="true"
                       [ngModelOptions]="{standalone: true}">
            </tag-input>
          </div>
          <div class="form-group">
            <select (change)="onChange($event.target.value)" name="annotationIds" class="form-control">
              <option hidden>Number of Annotators</option>
              <option *ngFor="let annotator of annotators" >{{annotator}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-5">
          <h4 class="info-header">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>Info</span>
          </h4>
          Add required Labels for annotation.
          Enter the number of annotators per image in the dataset.
        </div>
      </div>
    </section>
    <!-- End: Annotations tab -->

    <!-- Tutorial tab -->
    <section id="section-5" class="tab-pane fade" [class.in]="activeTab == 5" [class.active]="activeTab == 5">
      <div class="row">
        <div class="col-sm-7 border-right">
          <div class="form-group text-center">
            <label class="btn btn-primary upload-button">
              Choose ZIP file
              <input type="file" accept=".zip" ngFileSelect (uploadOutput)="onTutorialUpload($event)" [uploadInput]="uploadInput">
            </label>
            <div class="file-name">{{tutorialFileName}}</div>
          </div>
        </div>

        <div class="col-sm-5">
          <h4 class="info-header">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>Info</span>
          </h4>
          Please upload tutorial document for the project. It should demonstrate how pictures should be annotated.
        </div>
      </div>
    </section>
    <!-- End: Tutorial tab -->

    <!-- Payment tab -->
    <section id="section-6" class="tab-pane fade" [class.in]="activeTab == 6" [class.active]="activeTab == 6">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="project.name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="project.name" placeholder="Name">
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- End: Payment tab -->
  </div>
  </form>

  <div class="tab-buttons section-margin">
    <button (click)="nextTab()" type="submit" class="btn btn-primary pull-right">{{nextButtonText}}</button>
    <button (click)="previousTab()" type="submit" class="btn btn-default pull-right">Back</button>
  </div>

</div>
