<app-navbar></app-navbar>
<div *ngIf="project && project.name != ''" class="container">
    <h2>{{project.name}}</h2>
    <div>
        Description: {{project.description}}
    </div>
    <div>
        Labels: <span *ngFor="let label of project.label_names; let isLast=last">{{label}}{{isLast ? '' : ', '}}</span>
    </div>
    <div>
        Package: {{project.package.name}}
    </div>
</div>
<h3 *ngIf="project && project.name == ''" class="container alert alert-warning box-msg" role="alert">
    Project does not exist :(
</h3>