<app-navbar></app-navbar>
<div *ngIf="!formSubmitted" class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Sign up</h1>
    <form ngNativeValidate>
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" name="fullName" id="fullName" [(ngModel)]="user.fullName" required>
      </div>

      <div class="form-group">
        <label for="organization">Organization</label>
        <input type="text" class="form-control" name="organization" id="organization" [(ngModel)]="user.organization" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" [(ngModel)]="user.email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" required>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="user.phone"required>
      </div>

      <button type="submit" class="btn btn-success" (click)="signup()">Submit</button>

    </form>
  </div>
</div>

<div *ngIf="formSubmitted">
  <div class="container alert alert-success box-msg" role="alert">
    <h3>Welcome to Beehive! Login now and start creating projects.</h3>
  </div>
  <app-business-login></app-business-login>
</div>