<app-navbar></app-navbar>
<div class="container text-center">
  <div class="annotorious-widget" *ngIf="project && project.images.length > 0">
    <app-annotorious
      [img]="project.images[imageIndex].path"
      (tag)="onNewLabel($event)">
    </app-annotorious>
    <div class="tab-buttons section-margin">
      <button (click)="onNextClick()" type="submit" class="btn btn-primary pull-right">Next</button>
      <button (click)="onSkipClick()" type="submit" class="btn btn-default pull-right">Skip</button>
    </div>
  </div>
</div>
