<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Beehive</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Tools</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content" id="header">
        <div class="header-content-inner">
            <img class="logo" src="assets/images/hive-gold.svg">
            <h1 id="homeHeading">Your Favorite Source of Annotated Data</h1>
            <hr>
            <p>A Crowdsourcing Data annoation solution for the ground truth of your data.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">You don’t have to label data anymore! Lean on our automated platform and vetted community. Create a project, Upload your dataset, and track your data being annotated and reviewd by our global workforce. </p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart text-primary sr-icons"></i>
                    <h3>Track</h3>
                    <p class="text-muted">Track the annotation progress of your datasets.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-repeat text-primary sr-icons"></i>
                    <h3>Iterative Approach</h3>
                    <p class="text-muted">images are being annotated and reviewed by multiple users to ensure a high quality ground truth data.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                    <h3>Scalable WorkForce</h3>
                    <p class="text-muted">The online platform and the workforce base ensures fast completion of tasks in hand.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-usd text-primary sr-icons"></i>
                    <h3>Low Cost</h3>
                    <p class="text-muted">Crowdsourcing Data annotations to the public decreases the cost marginally.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Tools</h2>
                <hr class="primary">
            </div>
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                    <img src="assets/images/Boundingbox.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">

                            <div class="project-name">
                                Bounding Boxes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                    <img src="assets/images/keywording.jpg" class="img-responsive" alt="" >
                    <div class="portfolio-box-caption"> 
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Keywording
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                    <img src="assets/images/verification.jpg" class="img-responsive" alt="" >
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Annotation Review
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h3>Are you a Business? </h3><p>Contact us to learn more about the services we offer.</p>
            <a routerLink="/business/signup" class="btn btn-default btn-xl sr-button">Sign up now</a>
        </div>
        <div>
            <a routerLink="/business/login" class="btn btn-link btn-xl sr-button">Login</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Join Beehive's Workforce</h2>
                
                <p>Earn money and become a member of Beehive's community.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                 <a class="btn btn-default btn-xl sr-button">Register</a>
            </div>
            <div class="col-lg-4 text-center">
                 <a class="btn btn-default btn-xl sr-button">Login</a>
            </div>
        </div>
    </div>
</section>
